body{
  font-family: 'Arial';
  background-color: #202020;
  color: white;
  display: flex;
  justify-content: center;
  align-contents: center;
  height: 100vh;
  text-align: center;
  padding: 100px;
}
.game-container{
  background: #333;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  width: 350px;
  height: 335px
}
.score-board {
  display: flex;
  justify-content: space-around;
  background: #444;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.score-box span{
  font-size: 30px;
  font-weight: bold;
  color: #f39c12;
}
.result-area{
  font-size: 20px;
  min-height: 30px
}
.choice-btn{
  background: white;
  padding: 10px;
  border: none;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  transition: transform 0.2s;
}
.choice-btn:hover{
  transform: scale(1.1);
  background: #f39c12;
}